{% extends 'layout/layout.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'CSS/nosotros.css'%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<section>
    <h2>Nosotros</h2>
    <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dicta dolorem aliquam, tempore vero mollitia modi obcaecati commodi non rem omnis fugiat pariatur incidunt ex accusamus in est voluptatibus sapiente.
        Unde ducimus et obcaecati temporibus corporis ex doloremque, quae iste quos perspiciatis officiis reiciendis nulla porro facilis aliquid quis. Veritatis tempora excepturi fugiat, totam ullam rem voluptate aperiam! Et, non!
        Doloribus at quos non officiis tenetur aut. Doloremque quidem dicta omnis aspernatur praesentium, ipsa similique minima explicabo optio, ut eos? Quis enim ullam animi facilis dolores impedit quidem ut totam.
        Quaerat amet quasi iste vitae, cupiditate aliquam culpa incidunt dolor numquam debitis reprehenderit voluptate illum! Eum possimus accusantium, et commodi voluptatem non laborum incidunt saepe, aut nesciunt soluta ad fuga.
        Nostrum aperiam corrupti beatae officiis nam! Modi, provident omnis praesentium eum qui, velit obcaecati libero natus vel necessitatibus vitae similique, reprehenderit ex doloribus sed nostrum consequatur tempore? Quas, sit error!
        Reiciendis aliquam aliquid, pariatur id perspiciatis quasi aut aperiam adipisci et maiores reprehenderit tempora possimus placeat eius error nostrum, animi dolor quisquam non, nam quae. Illum error possimus officia ipsum.
        Perspiciatis enim laboriosam odit quod debitis fuga maiores hic molestiae? Blanditiis recusandae totam laborum dolorem sit atque necessitatibus. Magni doloremque laudantium omnis, quos quasi at earum officiis sapiente praesentium repellendus!
        Totam quas minus quod eum nisi non placeat ducimus sit aperiam amet impedit, ad provident molestiae omnis dolor pariatur modi vero natus tempore maxime cumque illum itaque vel voluptatibus! Aut.

    </p>
    <img style="width:40px;" src="{% static 'IMG/logo.png' %}">
</section>
{% endblock %}