@import 'layout/layout.css';

section{
    min-height: 30em;
    background:var(--fondo-color-section);
    margin:2%;
}
section>h2{
    padding:1% 0;
    display: flex;
    align-content:center;
    justify-content:center;
}
section>form{
    display:grid;
    grid-template-columns:45% 10% 45%;
    grid-template-rows:20% 20% 20% 20% 20%;
    height: 80%;
    width: 100%;
}

section>form>input{
    color:#000;
}

section>form>textarea{ 
    color:#000;
    resize: none;
}
.form-title-label{
    display:flex;
    align-items: center;
    justify-content:center;
    grid-column:1;
    grid-row:1;
}
.form-title-input{
    font-size:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column:1/4;
    grid-row:1;
    height:2em;
    width:45%;
    margin:0 auto;
}
.form-category-label{
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column:2;
    grid-row:2;
    margin-top:4%;
}
.form-category-input{
    cursor: pointer;
    color:#000;
    grid-column:3;
    grid-row:2;
    height:60%;
    width:40%;
    margin:2% 0;
}
.form-imagen-label{
    margin-left: 10%;
    grid-column:1;
    grid-row:2;
}
.form-imagen-input{
    display:flex;
    margin:10% auto;
    cursor: pointer;
    grid-column:1;
    grid-row:3/4;
    height:15%;
    width:60%;
}
.form-description-label{
    grid-column:2;
    grid-row:3;
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-description-input{
    margin:auto 0;
    grid-column:3;
    grid-row:3;
    width:80%;
    height: 80%;
}
.form-precio-label{
    text-align: center;
    grid-column:2;
    grid-row:4;
}

.form-precio-input{
    grid-column:3;
    grid-row:4;
    width:30%;
}
.form-button-crear{
    margin-left:60%;
    color:#000;
    background:var(--color-btn);
    cursor: pointer;
    border:none;
    font-size:18px;
    grid-column:3;
    grid-row:5;
    width:25%;
    margin-top:3%;
    padding:2% 0;
    border-radius: 15px;
}
.form-button-crear:hover{
    background:var(--color-btn-hover);
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }